.exp-nav {
  width: fit-content;
  overflow: auto;
  max-width: 100%;
  white-space: nowrap;
  color: #d4d4d4;
  background-color: #2d2d2d;
  transition: background-color 0.25s;
  margin-bottom: 2rem;
}

.exp-nav button {
  margin: 0;
  padding: 0.5rem;
  width: 10rem;
  font-size: 0.9rem;
  background-color: #353535;
  border: solid #353535;
  border-width: 2px 2px 2px 0px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.exp-nav button:first-child {
  border-left-width: 2px;
}

.exp-nav button:hover,
.exp-nav .highlighted {
  background-color: transparent;
}

.split > button {
  display: inline-block;
  width: 150px;
  margin: 0 50px 0 0;
}

.split-list {
  color: #6e94c2;
}

.split-list .label {
  display: inline-block;
  width: 200px;
}

.split-list .item {
  font-weight: bold;
}

.split-list .rest {
  margin-left: 200px;
}

.pending-list .pending-amt {
  color: #6e94c2;
}

.pending-list .pending-target {
  color: #6e94c2;
  font-weight: bold;
}

.pending-list button {
  width: 100px;
  margin: 0 0 0 10px;
}
