.nav-bar {
  color: #d4d4d4;
  background-color: #2d2d2d;
  height: 100%;
  transition: background-color 0.25s;
}

.nav-bar.button {
  width: 1.5%;
  cursor: pointer;
}

.nav-bar.button:hover {
  background-color: #353535;
}

.nav-bar.window {
  overflow-y: auto;
  border-right: 3px solid #353535;
  transition: width 0.4s ease;
}

.nav-bar.window.close {
  width: 0%;
}

.nav-bar.window.open {
  width: 15%;
}

.nav-bar.window button {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 7%;
  display: block;
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background-color 0.25s;
}

.nav-bar.window button.highlighted,
.nav-bar.window button:hover {
  background-color: #353535;
}

.nav-bar.window span.close {
  opacity: 0;
  transition: opacity 0.1s;
}

.nav-bar.window span.open {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}
